/* My Stylesheet */

.main-header {
  text-align: center;
}
h1 {
    color: powderblue;
    font-family: courier;
    text-align:center;
    font-size: 300%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: courier;
}

li a:hover {
    background-color: #111;
}
    
h2  {
    font-family: courier;
    text-align:center;
    font-size: 160%;
}
   
p  {
    font-family: courier;
    text-align:center;
    font-size: 100%;
}
.Likes {
   display:block;
   margin: 0 auto;
}
