/* My Stylesheet */

/*My banner*/
.main-header { 
  text-align: center;
}
/* Title of my page "Portfolio of Jianna" */
h1 { 
    color: powderblue;
    font-family: courier;
    text-align:center;
    font-size: 300%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #333;
}

a {
   display: inline-block;
   width: 100px;
   color: white;
   text-align: center; 
   font-family: courier;
   text-decoration: none;
}

li {
    width: 100px;
    margin: auto;
    display: inline;
}

li a:hover {
            background-color: #111;
}
    
h2  {
    font-family: courier;
    text-align:center;
    font-size: 160%;
}
   
p  {
    font-family: courier;
    text-align:center;
    font-size: 100%;
}
.Likes {
        display:block;
        margin: 0 auto;
        text-align: center;
}
